1. Pick an arbitrary state $s \in \sum$, and call it the quiescent state $s_q$
2. Count the number of rules in $\Delta$ that produce this particular quiescent state, and call it $n$
3. The other $k^{N}-n$ transitions must produce the non-quiescent states of $\sum - s_q$, but may otherwise be
chosen at random.
$$ \lambda(\Delta) = \frac{k^N - n}{k^N}$$

Define $\lambda(\Delta)$ as the fraction of entries in $\Delta$ that
map to a non-zero value, i.e., $s_q = 0$ 

$N_0(\Delta)$ = number neighbour configurations = 0

$$ \lambda(\Delta) = 1 - \frac{N_0(\Delta)}{k^N}$$

If $n = k^N$, all rules lead to $s_q,\lambda = 0 $

If $n = 0$, no rules lead to $s_q, \lambda = 0 $
$$ \lambda(\Delta) = \frac{k^N - n}{k^N}$$

All states represented equally: 
$$ n = \frac{k^N}{k}, \lambda = 1 - \frac{1}{k} $$

Two methods to build rule table for a particular value of $\lambda$
- Random table: $\lambda$ is a bias on the random selection of states from $\sum$.
- Table walkthrough: start wih table entirely set to $s_q$ and change some to random according to $\lambda$

all possible rules = $ k^N $

In [53]:
df = pd.read_csv("rule_class_wolfram.csv")
df.rename(columns={'1': 'complexity'}, inplace=True)
df = df.drop(['0'], axis=1)

# New row data
new_row = {'rules': 0, 'complexity': 1}

# Insert the new row at the beginning
df.loc[-1] = new_row
df.index = df.index + 1
df = df.sort_index()
df

     complexity
0             1
1             2
2             2
3             2
4             2
..          ...
251           1
252           1
253           1
254           1
255           1

[256 rows x 1 columns]

In [57]:
for rule, _ in df.iterrows():
    df.loc[rule, 'help'] = 'test'

C:\Users\Tycho\AppData\Local\Temp\ipykernel_35172\1061977924.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'test' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[rule, 'help'] = 'test'

In [58]:
df

     complexity  help
0             1  test
1             2  test
2             2  test
3             2  test
4             2  test
..          ...   ...
251           1  test
252           1  test
253           1  test
254           1  test
255           1  test

[256 rows x 2 columns]